{% if page.support_promo_box %}
  <a id="support-promo-section" href="https://www.goodreads.com/naiborhujosua" target="_blank">
    Here’s a glimpse into my collection of books I’ve gathered over the last couple of years. Each volume has been a source of enlightenment, 
    broadening my understanding across various subjects and contexts. For comprehensive reviews, please refer to my [Goodreads Profile](https://www.goodreads.com/naiborhujosua).<br/>
    <span class="btn btn-cta btn-lg">
      ❤ Books
    </span>
  </a>
{% endif %}
